/* Estrutura de Fabio Moraes - Elabore Digital */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  transition-duration: 0.5s;
}

body, html {
  font-size: 15px;
  background: #fff;
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
  font-family: 'Roboto', sans-serif;
}

.content {
  align-items: center;
  justify-content: space-between;
  display: flex;
  flex-direction: column;
  max-width: 1170px; /* Altura que desejar tela */
  margin:0px auto;
  height: 100%;
  padding: 0 15px 0 15px;
}

@media only screen and (min-width: 481px) {
  .content {
    padding: 0 15px 0 15px;
  }
}

@media only screen and (min-width: 1024px) {
  .content {
    padding: 0 15px 0 15px;
  }
}

@media only screen and (min-width: 1280px) {
  .content {
    padding: 0;
  }
}

.content-fluid {
  display: flex;
  flex-wrap: wrap;
}

h1 {
  font-size: 82px;
}

h2 {
  font-size: 32px;
}

h3 {
  font-size: 28px;
  padding-top: 18px;
}

h4 {
  font-size: 26px;
}

h5 {
  font-size: 26px;
}

h6 {
  font-size: 22px;
}

h7 {
  font-size: 16px;
}

@media only screen and (min-width: 480px) {
  h2 {
    font-size: 42px;
  }
  h3 {
    font-size: 36px;
    padding-top: 16px;
  }
  h5 {
    font-size: 26px;
  }
  h6 {
    font-size: 22px;
  }
  
  h7 {
    font-size: 16px;
  }
}

@media only screen and (min-width: 1024px) {
  h2 {
    font-size: 72px;
  }
  h3 {
    font-size: 66px;
    padding-top: 0;
  }
  h5 {
    font-size: 42px;
  }
  h6 {
    font-size: 32px;
  }
  
  h7 {
    font-size: 22px;
  }
}

@media only screen and (min-width: 1280px) {
  h2 {
    font-size: 72px;
  }
  h3 {
    font-size: 66px;
    padding-top: 0;
  }
  h5 {
    font-size: 42px;
  }
  h6 {
    font-size: 32px;
  }
  
  h7 {
    font-size: 22px;
  }
}

.display-right {
  display: flex;
  align-items: center;
  flex-direction: column;
}

@media only screen and (min-width: 481px) {
  .display-right {
    align-items: center;
  }
}

@media only screen and (min-width: 1024px) {
  .display-right {
    align-items: flex-end;
  }
}

@media only screen and (min-width: 1280px) {
  .display-right {
    align-items: flex-end;
  }
}

.text-right {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

@media only screen and (min-width: 481px) {
  .text-right {
    text-align: center;
  }
}

@media only screen and (min-width: 1024px) {
  .text-right {
    text-align: right;
  }
}

@media only screen and (min-width: 1280px) {
  .text-right {
    text-align: right;
  }
}

.background-white {
  background: #fff;
}

.background-black {
  background: #000;
}

.background-blue-light {
  background:#0072BC;
}

.padding-left-80, .padding-left-60, .padding-left-40, .padding-left-20{
  padding-left: 0;
}

.padding-t-b-80 {
  padding-top: 80px;
  padding-bottom: 80px;
}

.bloco-t-2-50 {
  width: 50%;
}

.bloco-t {
  width: 100%;
}

.bloco-t-2, .bloco-t-3, .bloco-t-4, .bloco-t-5, .bloco-t-6, .bloco-t-8, .bloco-t-9, .bloco-t-10, .bloco-t-12 {
  width: 100%;
}

@media only screen and (min-width: 480px) {
  .padding-left-80, .padding-left-60, .padding-left-40, .padding-left-20{
    padding-left: 0;
  }

  .padding-t-b-80 {
    padding-top: 80px;
    padding-bottom: 80px;
  }

  .bloco-t-2, .bloco-t-3, .bloco-t-4, .bloco-t-5, .bloco-t-6, .bloco-t-8, .bloco-t-9, .bloco-t-10, .bloco-t-12 {
    width: 100%;
  }

  .bloco-t-2-50, .bloco-t {
    width: 50%;
  }
}

@media only screen and (min-width: 1024px) {
  .padding-left-80 {
    padding-left: 80px;
  }
  
  .padding-t-b-80 {
    padding-top: 80px;
    padding-bottom: 80px;
  }
  
  .padding-left-60 {
    padding-left: 60px;
  }
  
  .padding-left-40 {
    padding-left: 40px;
  }
  
  .padding-left-20 {
    padding-left: 20px;
  }

  .bloco-t-2 {
    width: 12.5%;
  }
  
  .bloco-t-2-50 {
    width: 12.5%;
  }

  .bloco-t {
    width: 20%;
  }
  
  .bloco-t-3 {
    width: 25%;
  }
  
  .bloco-t-4 {
    width: 33.33%;
  }
  
  .bloco-t-5 {
    width: 33.33%;
  }
  
  .bloco-t-6 {
    width: 50%;
  }
  
  .bloco-t-8 {
    width: 66.67%;
  }
  
  .bloco-t-9 {
    width: 75%;
  }
  
  .bloco-t-10 {
    width: 87.5%;
  }
  
  .bloco-t-12 {
    width: 100%;
  }
}

@media only screen and (min-width: 1280px) {
  .padding-left-80 {
    padding-left: 80px;
  }
  
  .padding-t-b-80 {
    padding-top: 80px;
    padding-bottom: 80px;
  }
  
  .padding-left-60 {
    padding-left: 60px;
  }
  
  .padding-left-40 {
    padding-left: 40px;
  }
  
  .padding-left-20 {
    padding-left: 20px;
  }

  .bloco-t-2 {
    width: 12.5%;
  }
  
  .bloco-t-2-50 {
    width: 12.5%;
  }

  .bloco-t {
    width: 20%;
  }
  
  .bloco-t-3 {
    width: 25%;
  }
  
  .bloco-t-4 {
    width: 33.33%;
  }
  
  .bloco-t-5 {
    width: 33.33%;
  }
  
  .bloco-t-6 {
    width: 50%;
  }
  
  .bloco-t-8 {
    width: 66.67%;
  }
  
  .bloco-t-9 {
    width: 75%;
  }
  
  .bloco-t-10 {
    width: 87.5%;
  }
  
  .bloco-t-12 {
    width: 100%;
  }
}

.section-pad-90 {
  padding-top: 90px;
  padding-bottom: 90px;
}

.section-pad-60 {
  padding-top: 60px;
  padding-bottom: 60px;
}

.section-pad-40 {
  padding-top: 40px;
  padding-bottom: 40px;
}

.section-pad-30 {
  padding-top: 30px;
  padding-bottom: 30px;
}

content {
  display: block;
}

.center-margin {
  margin:0px auto;
}

.margin-top-30 {
  margin-top: 30px;
}

.white-txt {
  color:white;
}

.blacklight-txt {
  color: #575757;
}

.margin-left-30 {
  margin-left: 0;
}

.content [class*=bloco-t] {
  margin-bottom: 14px;
}
.txt-align-center-mob {
  text-align: center;
}

.img-banner {
  text-align: center;
}

.img-banner img {
  width: 50%;
  margin: 0px auto;
}

.img-100 img {
  width: 120px;
}

@media only screen and (min-width: 481px) {
  .content {
    flex-direction: column;
  }
  .margin-left-30 {
    margin-left: 0;
  }
  .content [class*=bloco-t] {
    margin-bottom: 14px;
  }
  .txt-align-center-mob {
    text-align: center;
  }

  .img-banner img {
    width: 50%;
    margin: 0px auto;
  }

  .img-100 img {
    width: 120px;
  }
}

@media only screen and (min-width: 1024px) {
  .content {
    flex-direction: row;
  }
  .margin-left-30 {
    margin-left: 30px;
  }
  .content [class*=bloco-t] {
    margin-bottom: 0;
  }
  .txt-align-center-mob {
    text-align: normal;
  }

  .img-banner img {
    width: auto;
    margin: 0px;
  }
  .img-100 img {
    width: 220px;
  }
}

@media only screen and (min-width: 1280px) {
  .content {
    flex-direction: row;
  }
  .margin-left-30 {
    margin-left: 30px;
  }
  .content [class*=bloco-t] {
    margin-bottom: 0;
  }
  .txt-align-center-mob {
    text-align: normal;
  }

  .img-banner img {
    width: auto;
    margin: 0px;
  }

  .img-100 img {
    width: 220px;
  }
}

.padding-lr-12 {
  padding-right: 14px;
}

.padding-lr-12::after {
  padding-right: 0;
}

.card-body {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  flex: 1;
  color: #575757;
}

.grid-card {
  background: #fff;
  margin-right: 10px;
  margin-left: 10px;
  margin-top: 10px;
  flex: 1;
  padding: 12px;
  box-shadow: 0 6px 10px -4px rgba(0,0,0,.15);
  border-radius: 8px;
}

.grid-card img {
  width: 100%;
}

.grid-card h5 {
  font-size: 26px;
  margin-bottom: 10px;
  margin-top: 10px;
}

@media only screen and (min-width: 481px) {
  .card-body {
    flex-direction: column;
  }

  .grid-card {
    margin-top: 10px;
  }
}

@media only screen and (min-width: 1024px) {
  .card-body {
    flex-direction: row;
  }

  .grid-card {
    margin-top: 0;
  }
}

@media only screen and (min-width: 1280px) {
  .card-body {
    flex-direction: row;
  }

  .grid-card {
    margin-top: 0;
  }
}

.grid-white {
  background: white;
  box-shadow: 0 6px 10px -4px rgba(0,0,0,.15);
}