/* Efeitos CSS Padrão */
@-webkit-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; } 
  }
  @-moz-keyframes fadeIn {
  0% { opacity: 0;}
  100% { opacity: 1; }
  }
  @-o-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
  }
  @keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
  }

.fadeIn {
  -webkit-animation: fadeIn 1s ease-in-out;
  -moz-animation: fadeIn 1s ease-in-out;
  -o-animation: fadeIn 1s ease-in-out;
  animation: fadeIn 1s ease-in-out;
}

/* Header estrutura topo */

header {
  background: #575757 url('/images/banner-site.jpg') no-repeat;
  background-size: cover;
}

#header-top {
  display: none;
  color: #fff;
  height: 106px;
}

#header-top nav ul {
  display: flex;
  flex-direction: row;
  font-size: 17px; 
  list-style: none;
}

#header-top nav ul li {
  margin-left: 20px;
}

#header-top nav ul li:first-child {
  margin-left: 0px;
}

#header-top nav ul li p {
  margin-left: 26px;
}

@media only screen and (min-width: 480px) {
  #header-top {
    display: none;
  }
}

@media only screen and (min-width: 1024px) {
  #header-top {
    display: block;
  }
}

@media only screen and (min-width: 1280px) {
  #header-top {
    display: block;
  }
}

.btn-padrao {
  height: 46px;
  width: 150px;
  background: #0098DB;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
}

a:hover.btn-padrao {
  background: #000;
}

/* Estrutura Barra Menu */

nav#menu-logo {
  height: 52px;
  background: #fff;
  max-width: 1170px;
  margin:0px auto;
  position: relative;
}

.barra-menu {
  display: flex;
  justify-content: space-between;
}

nav#menu-logo div {
  height: 100%;
  align-items: center;
}

.barra-menu div ul {
  list-style: none;
  display: none;
  height: 100%;
  align-items: center;
}

.barra-menu div ul li {
  margin-right: 54px;
}

.barra-menu div ul li:last-child {
  margin-right: 20px;
}

.barra-menu div ul li a {
  color:#000;
  font-weight: 700;
  font-size: 15px;
  text-transform: uppercase;
}

.barra-menu div ul li a:hover {
  color: #0098DB;
}

.barra-menu img {
  width: 183px;
  margin-left:15px;
}

@media only screen and (min-width: 481px) {
  nav#menu-logo {
    height: 52px;
  }
  .barra-menu div ul {
    display: none;
  }
}

@media only screen and (min-width: 1024px) {
  nav#menu-logo {
    height: 72px;
  }
  .barra-menu div ul {
    display: flex;
  }
}

@media only screen and (min-width: 1280px) {
  nav#menu-logo {
    height: 72px;
  }
  .barra-menu div ul {
    display: flex;
  }
}

/* Banner txt */

.banner {
 height: auto;
 padding: 22px 0 22px 0;
}

.banner-page {
  height: auto;
  padding: 22px 0 22px 0;
 }

.txt-banner {
  font-display: Montserrat,sans-serif;
  color: #fff;
  margin-right: 0;
  font-weight: bold;
  text-align: center;
}

.txt-banner-page {
  font-display: Montserrat,sans-serif;
  color: #fff;
  margin-right: 0;
  font-weight: bold;
  display: flex;
  flex: 1;
  justify-content: center;
}

.txt-banner-page h2 {
  font-size: 30px;
}

.txt-banner  h3 {
  margin-top:-25px;
  color:#0098DB;
}

.txt-banner p {
  color: #fff;
  line-height: 22px;
}

@media only screen and (min-width: 481px) {
  .banner {
    height: auto;
    padding: 22px 0 22px 0;
   }
   .banner-page {
    height: auto;
    padding: 22px 0 22px 0;
   }
   .txt-banner {
     margin-right: 0;
     text-align: center;
   }
   .txt-banner  h3 {
     margin-top: -5px;
   }
   .txt-banner-page h2 {
    font-size: 30px;
  }
}

@media only screen and (min-width: 1024px) {
  .banner {
    height: 640px;
    padding: 0;
   }
   .banner-page {
    height: 240px;
    padding: 0;
   }
   .txt-banner {
    margin-right: 90px;
    text-align: start;
  }
  .txt-banner  h3 {
    margin-top: -25px;
  }
  .txt-banner-page h2 {
    font-size: 50px;
  }
}

@media only screen and (min-width: 1280px) {
  .banner {
    height: 640px;
    padding: 0;
   }
   .banner-page {
    height: 240px;
    padding: 0;
   }
   .txt-banner {
    margin-right: 90px;
    text-align: start;
  }
  .txt-banner  h3 {
    margin-top: -25px;
  }
  .txt-banner-page h2 {
    font-size: 50px;
  }
}

/* Content Conteudo */

#background-bg-1 {
  background: url('/images/background-texture.jpg') repeat;
}

#background-bg-2 {
  background: #E1E2E4;
}

.corpo-body {
  color: #575757;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

@media only screen and (min-width: 481px) {
  .corpo-body {
    flex-direction: column;
  }
}

@media only screen and (min-width: 1024px) {
  .corpo-body {
    flex-direction: row;
  }
}

@media only screen and (min-width: 1280px) {
  .corpo-body {
    flex-direction: row;
  }
}

.padding-bloco-tb {
  padding-top: 50px;
  padding-bottom: 50px;
}

.icon-content {
  font-size: 17px;
  color: #fff;
}

.icon-content img {
  height: 68px;
}

.paralax {
  padding: 62px 0 62px 0;
  background-color: #000;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}

.paralax p {
  padding-top: 14px;
}

.whatsapp-icon {
  border-radius: 50%;
  background: white;
  position: fixed;
  z-index: 6;
  bottom: 22px;
  left: 22px;
  -webkit-box-shadow: 0px 0px 8px 0px #000000;
  -moz-box-shadow: 0px 0px 8px 0px #000000;
  box-shadow: 0px 0px 8px 0px #000000;
}

.whatsapp-icon a {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.whatsapp-icon a:hover {
  filter: invert(75%);
}

.whatsapp-icon img {
  width: 30px;
}

@media only screen and (min-width: 480px) {
  .whatsapp-icon a {
    width: 50px;
    height: 50px;
  }

  .whatsapp-icon img {
    width: 30px;
  }
}

@media only screen and (min-width: 1024px) {
  .whatsapp-icon a {
    width: 70px;
    height: 70px;
  }
  .whatsapp-icon img {
    width: 40px;
  }
}

@media only screen and (min-width: 1280px) {
  .whatsapp-icon a {
    width: 80px;
    height: 80px;
  }
  .whatsapp-icon img {
    width: 50px;
  }
}

.buttons-icons {
  display: flex;
  justify-content: center;
  align-items: center;
}

.buttons-icons span {
  margin-right: 12px;
}

.buttons-icons span a img {
  width: 25px;
}

.buttons-icons span a:hover img {
  filter: invert(25%);
}

.line-top {
  width: 120px;
  height: 3px;
  margin-bottom: 17px;
  margin-top: 14px;
  display: block;
}

.conteudo-geral {
  display: flex;
  flex: 1;
  flex-wrap: wrap;
}

.conteudo-geral div {
  padding: 0 10px 0 10px;
}

.conteudo-geral span {
  background: #0072BC;
  padding: 16px 0 16px 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 18px;
}

.conteudo-geral span img {
  width: 40px;
  margin-bottom: 8px;
}

.conteudo-geral img {
  width: 100%;
}

.conteudo-geral a {
  opacity: 1;
}

.conteudo-geral a:hover {
  opacity: 0.5;
}

.title-page {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding-bottom: 18px;
  align-items: center;
  justify-content: center;
}

.carousel {
  display: flex;
  flex: 1;
}

.carousel ul {
  list-style: none;
}

.content-logos {
  max-width: 220px;
  margin: 0px auto;
}

.slick-slider button {
  border: 0;
}

.slick-slider .slick-prev {
  position: absolute;
  background: url(../images/sprite.png) -50px -40px no-repeat;
  display: block;
  height: 40px;
  width: 30px;
  text-indent: -9999px;
  top: 50%;
  margin-top: -20px;
  left: -35px;
  padding: 0px;
}

.slick-slider .slick-next {
  position: absolute;
  background: url(../images/sprite.png) -90px -40px no-repeat;
  display: block;
  height: 40px;
  width: 30px;
  text-indent: -9999px;
  top: 50%;
  margin-top: -20px;
  right: -35px;
  padding: 0px;
}

@media only screen and (min-width: 480px) {
  .slick-slider .slick-next {
    right: -35px;
  }
  .content-logos {
    max-width: 320px;
  }
}

@media only screen and (min-width: 600px) {
  .content-logos {
    max-width: 520px;
  }
}

@media only screen and (min-width: 1024px) {
  .slick-slider .slick-next {
    right: -15px;
  }
  .content-logos {
    max-width: 880px;
  }
}

@media only screen and (min-width: 1280px) {
  .slick-slider .slick-next {
    right: -15px;
  }
  .content-logos {
    max-width: 1170px;
  }
}

.end-loc {
  display: flex;
  flex-direction: row;
  margin-bottom: 15px;
  margin-right: 22px;
}

.end-loc::after {
  margin-bottom: 0;
}

.end-loc img {
  width: 25px;
  margin-right: 6px;
}

.end-loc span.txt-end h5 {
  font-size: 18px;
}

.formulario-contato form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: flex-start;
  flex: 1;
}

.formulario-contato form input {
  border: 1px solid #cccccc;
  height: 55px;
  padding: 5px;
  border-radius: 5px;
  margin-bottom: 12px;
}

.formulario-contato form button {
  border: 0;
  border-radius: 5px;
  height: 55px;
  background: #0078D7;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  transition-duration: 0.5s;
}

.formulario-contato form button:hover {
  transition-duration: 0.5s;
  background: #FFD24D;
}

.mapa-loc {
  background: #E1E2E4;
}

.barra-mobile {
  position: absolute;
  z-index: 5;
  top: 3px;
  right: 8px;
  width: 45px;
  display: block;
}

.barra-mobile img {
  width: 100%;
}

.barra-mobile button {
  border:0;
  cursor: pointer;
  background-color: transparent;
  transition:all 0.3s ease;
}

.barra-mobile button:hover {
  -webkit-transform: scale(0.8);
        -ms-transform: scale(0.8);
        transform: scale(0.8);
}

.barra-menu-mobile {
  background: #fff;
  position: fixed;
  height: 100%;
  width: 240px;
  z-index: 9;
  top: 0px;
  box-shadow: 0 0 1em rgba(0, 0, 0, 0.3);
  display: block;
}

ul.nav-mobile {
  list-style: none;
  display: flex;
  flex-direction: column;
  flex: 1;
}

ul.nav-mobile li a {
  color: #000000;
  display: flex;
  flex: 1;
  align-items: center;
  padding:14px;
  border-bottom: 1px solid #ccc;
}

ul.nav-mobile li a img {
  width: 12px;
}

ul.nav-mobile li a:hover {
  background:#0072BC;
  color: #fff;
}

#disabled {
  transition:all 0.3s ease;
  -webkit-transform: translateX(-280px);
  transform: translateX(-280px);
}

#ativo {
  transition:all 0.3s ease;
  -webkit-transform: translateX(0px);
  transform: translateX(0px);
}

@media only screen and (min-width: 481px) {
  .barra-mobile, .barra-menu-mobile {
    display: block;
  }
}

@media only screen and (min-width: 1024px) {
  .barra-mobile, .barra-menu-mobile {
    display: none;
  }
}

@media only screen and (min-width: 1280px) {
  .barra-mobile, .barra-menu-mobile {
    display: none;
  }
}

footer {
  background: #131212;
  padding: 30px 0 30px 0;
  color: #fff;
}

footer img {
  width: 150px;
  margin-bottom: 8px;
}

footer div span img {
  width: 22px;
}

@media only screen and (min-width: 481px) {
  footer img {
    margin-bottom: 8px;
  }
}

@media only screen and (min-width: 1024px) {
  footer img {
    margin-bottom: 0;
  }
}

@media only screen and (min-width: 1280px) {
  footer img {
    margin-bottom: 0;
  }
}

ul.blocos-emp {
  display: flex;
  flex:1;
  flex-wrap: wrap;
  list-style: none;
}

ul.blocos-emp li {
  width: 100%;
  padding-right: 14px;
  color: #000;
  margin-bottom: 14px;
}

ul.blocos-emp li::after {
  content: '';
  padding-right: 0px;
}

ul.blocos-emp li span {
  background: #fff;
  display: flex;
  flex: 1;
  flex-direction: column;
  height: 100%;
}

ul.blocos-emp li span h4 {
  height: auto;
  display: flex;
  flex: 1;
  padding: 12px;
  background: #0098DB;
  color: #fff;
}

ul.blocos-emp li span p {
  padding: 18px 12px 18px 12px;
}

@media only screen and (min-width: 480px) {
  ul.blocos-emp li {
    width: 100%;
    margin-bottom: 14px;
  }
}

@media only screen and (min-width: 1024px) {
  ul.blocos-emp li {
    width: 33.33%;
    margin-bottom: 0;
  }
}

@media only screen and (min-width: 1280px) {
  ul.blocos-emp li {
    width: 33.33%;
    margin-bottom: 0;
  }
}